/* CARD STYLING */

.image{
  float: left;
  margin-right: 20px;
  height: 400px;
  width: 300px;
}

.text{
  float: left;
}


/* SECTION STYLING */

footer{
  position: relative;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .image{
    height: 75%;
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .text{
    padding-top: 20px;
  }
}
