.image{
  float: left;
  margin-right: 20px;
}

.text{
  float: left;
}

@media screen and (max-width: 1000px) {
  .image{
    height: 50%;
    width: 50%;
}

@media screen and (max-width: 800px) {
  .text{
    padding-top: 20px;
  }
}
