/* Font 'Raleway' used from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: Raleway, sans-serif;
  /* 'Raleway' font from Google Fonts */
  background-color: #BFBDC1;
}

header h1 {
  background-color: #37313D;
  margin-bottom: 0;
  padding: 10px 0 10px 27px;
}

header h1, footer p{
  color: #eeeeee;
}

header p, header li{
  color: #BFBDC1;
}

#headingContainer{
  padding: 0;
}

#headingItem{
  padding: 0;
}

#nav, #navSection {
background-color: #706A75;
padding: 0 0 0 10px;
}

#navItem:hover {
  background-color: #37313D;
}

#card-container {
  padding: 20px 10px 0 10px;
}

#grid-card {
  padding: 10px 0 0 0;
}

.card {
  background-color: #eeeeee;
}

footer{
  margin-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #37313D;
}

footer p{
  padding-top: 15px;
}

@media screen and (max-width: 600px){
  header li {
    font-size: 100%;
  }
}

@media screen and (max-width: 600px){
  header h1{
    font-size: 175%;
  }
}

@media screen and (min-width: 1200px) {
  #grid-card{
    padding: 20px 30px 0 30px;
  }
}

@media screen and (min-width: 768px){
  #grid-card{
    padding: 15px 15px 0 15px;
  }
}

@media screen and (max-width: 600px){
  #grid-card{
    padding: 5px 5px 0 5px;
  }
}
