/* Font 'Raleway' used from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: Raleway, sans-serif;
  /* 'Raleway' font from Google Fonts */
  background-color: #BFBDC1;
}

header h1 {
  background-color: #37313D;
  margin-bottom: 0;
  padding: 10px 0 10px 27px;
}

header h1, footer p{
  color: #eeeeee;
}

header p, header li{
  color: #BFBDC1;
}

.nav {
  background-color: #706A75;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  float: left;
  list-style-type: none;
  font-size: 20px;
  padding: 10px 30px;
}

li:hover {
  background-color: #37313D;
}

#card-container {
  padding: 20px 0 0 0;
}

#grid-card {
  padding: 10px 0 0 0;
}

.card {
  background-color: #eeeeee;
}

footer{
  margin-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #37313D;
}

footer p{
  padding-top: 15px;
}
